$primary-color = #252a2d
$secondary-color = #202123

$active-color = #05c8e6
$error-color = red

$text-color = #c1c1c1 // #e0e0e0
$text-highlight-color = #fff

$titlebar-bg = $secondary-color
$random-bg-overlay-color = #1a2023

$modal-body-color = #122F33