$primary-dark-color = #252a2d
$secondary-dark-color = #202123

$active-color = #05c8e6
$error-color = red

$text-dark-color = #e0e0e0
$text-highlight-dark-color = #fff

$titlebar-dark-bg = $secondary-dark-color
$random-bg-overlay-dark-color = $primary-dark-color

$modal-body-dark-color = #122F33