@import 'ui/titlebar'
@import 'ui/slideshow'
@import 'ui/random-background'
@import 'ui/authentication'
@import 'ui/loader'
@import 'ui/home'
@import 'ui/game'
@import 'ui/library'
@import 'ui/settings'
@import 'ui/profile'

@import 'components/text'
@import 'components/button'
@import 'ui/switch'
@import 'ui/text-input'
@import 'ui/dialog'

text()
button()

@import 'components/changelog'

changelog()
