.accordion
  width max-content
  height max-content

  .accordion-item
    width 350px
    height 350px
    margin-bottom 30px

    &.disabled .accordion-header
      opacity .4
      pointer-events none

    &.opened
      .accordion-header
        .icon
          transform rotate(180deg)

      .accordion-body
        height 100px

    .accordion-header
      width max-content
      height 30px
      cursor pointer
      position relative

      .text
        float left
        font-weight bold
        margin-right 15px

      .icon
        // float right
        transition all .2s
        color white
        position absolute
        top 3px
        transform rotate(0deg)

    .accordion-body
      width inherit
      height 0
      transition ease-in-out .2s
      overflow hidden