.authentication
  width 100%
  height calc(100% - 25px)
  z-index 3
  position absolute
  transition .4s ease-in-out


.side-panel
  width 40%
  height 70%
  border-left 3px solid rgba(255, 255, 255, .2)
  centered()
  transform translateY(-50%)

  .text
    position absolute
    top 45%
    left 50%
    transform translate(-50%, -50%)
    font-family 'GravityLight'
    font-size 50px
    text-align center
    color #ffffffb5 !important
    width 90%

// NEW SIGNIN

.signin
  width calc(260px + 64px + 40px)
  height calc(70px + 70px + 30px)
  // height calc(70px + 70px + 170px)
  centered()
  left 30%

  .form
    position absolute
    top 0
    left 0

    .text-input
      margin-bottom 30px

    .google-sign-in-btn
      width 250px
      height 40px
      line-height @height
      box-sizing border-box
      border 2px solid rgba(255, 255, 255, .2)
      background none

      &:hover
        border-color rgba(255, 255, 255, .45)

      .icon, .label
        color rgba(255, 255, 255, .8)

      .icon
        margin-right 15px

      .label
        vertical-align middle

  .signin-btn
    // Dialog styles are overwritting this styles.
    position absolute !important
    top 20px !important
    right 0 !important
    border-radius 50% !important
    width 60px !important
    height 60px !important
    border-width 3px !important
    border-color rgba(255, 255, 255, .25) !important
    background none !important

    &:hover
      border-color rgba(255, 255, 255, .4) !important
      background none !important

      .icon
        color rgba(255, 255, 255, .4) !important

    &.disabled
      .icon-lock
        opacity 1 !important
        z-index 5 !important

      .icon-navigate_next
        opacity 0 !important
        z-index -99 !important

    &.submitting
      .loader
        opacity 1
        z-index 5

      .icon-navigate_next, .icon-lock
        opacity 0
        z-index -99

    .icon
      position absolute !important
      top 50% !important
      left 50% !important
      transform translate(-50%, -50%) !important 
      font-size 25px
      color rgba(255, 255, 255, .3)
      transition all .2s

    .icon-lock
      opacity 0
      z-index -99

    .icon-navigate_next
      opacity 1
      z-index 5
      font-size 30px

    .loader
      opacity 0
      z-index -99
      transition all .2s

  .links
    position absolute
    bottom 0
    left 0

    & > *
      display block
      margin-bottom 10px
      color rgba(255, 255, 255, .5)
      cursor pointer

      &:hover
        color rgba(255, 255, 255, .8)

    .stay-signedin-switch, .anonymous-signin-btn
      margin-bottom 20px

.signup
  width calc(260px + 64px + 40px)
  height calc(70px + 70px + 70px + 60px)
  centered()

  .form
    position absolute
    top 0
    left 0

    .text-input
      margin-bottom 30px

  .signup-btn
    position absolute
    top 60px
    right 0
    border-radius 50%
    width 60px
    height 60px
    border-width 3px
    border-color rgba(255, 255, 255, .25)
    background transparent !important

    &:hover
      border-color rgba(255, 255, 255, .4)
      background transparent !important

      .icon
        color rgba(255, 255, 255, .4)

    &.disabled
      .icon-lock
        opacity 1
        z-index 5

      .icon-navigate_next
        opacity 0
        z-index -99

    &.submitting
      .loader
        opacity 1
        z-index 5

      .icon-navigate_next, .icon-lock
        opacity 0
        z-index -99

    .icon
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      font-size 25px
      color rgba(255, 255, 255, .3)
      transition all .2s

    .icon-lock
      opacity 0
      z-index -99

    .icon-navigate_next
      opacity 1
      z-index 5
      font-size 30px

    .loader
      opacity 0
      z-index -99
      transition all .2s

  .links
    position absolute
    bottom 0
    left 0

    & > *
      display block
      margin-bottom 10px
      color rgba(255, 255, 255, .5)
      cursor pointer

      &:hover
        color rgba(255, 255, 255, .8)

    .toggle-password-btn
      margin-bottom 20px