.board
  width 100%
  height calc(100vh - 25px)
  overflow hidden
  position absolute
  top 25px
  z-index 2
  transition ease-in-out .5s

  &.hidden
    visibility hidden !important
    pointer-events none
    opacity 0

  .board-view
    width 100%
    height 735px
    position absolute
    top 100px
    // background #ccc
    transition .2s all

    & > *
      width 100%
      height 100%

    &.hidden-left
      left -100%

    &.hidden-right
      left 100%

    &.active
      left 0