.home
  .welcome-message
    position absolute
    top 35%
    left 50%
    transform translate(-50%, -50%)
    font-family 'GravityLight'
    font-size 50px
    max-width 1100px
    text-align center