.profile
  width 600px !important
  margin auto
  height calc(100% - 59px)

  &.edit-mode
    .edit-form
      opacity 1
      z-index 999

    .summary
      opacity 0

  .edit-form
    opacity 0
    z-index -999
    width 380px
    height 320px
    transition ease-in-out .3s
    // padding 25px
    border-radius 5px
    // background rgba(255, 255, 255, .1)
    position absolute
    top 40% // 70px
    left 50%
    transform translate(-50%, -50%)

    .image-input
      display inline-block
      //margin 15px
      //margin-right 25px
      background rgba(255, 255, 255, .3)
      border-radius 50%
      width 100px
      height 100px
      cursor pointer
      /* position absolute
      top 40px
      left 40px */

      &:hover
        .overlay
          opacity 1

      .overlay
        border-radius 50%
        width 100px
        height 100px
        cursor pointer
        background rgba(0, 0, 0, .3)
        transition .2s ease-in-out
        position absolute
        z-index 1
        opacity 0

        .text
          font-size 16px
          font-weight bold
          centered()

    .fields
      display inline-block
      // top 50px
      left 130px
      position absolute

      .text-input
        margin-bottom 20px

      .btn
        width 250px
        height 40px
        box-sizing border-box
        border 2px solid rgba(255, 255, 255, .2)
        background none
        margin-top 20px

        &:hover
          border-color rgba(255, 255, 255, .45)

        .label
          display block
          line-height 40px

    .buttons
      position absolute
      bottom 0
      width 380px

      .btn
        display inline-block
        width 150px
        height 40px
        box-sizing border-box
        border 2px solid rgba(255, 255, 255, .2)
        background none
        margin-top 20px

        &:hover
          border-color rgba(255, 255, 255, .45)

        .label
          display block
          line-height 40px

      .accept-btn
        float right

      .delete-btn
        border 2px solid rgba(255, 22, 22, 0.4)

        .label
          color rgba(255, 22, 22, 0.8)

        &:hover
          border-color rgba(255, 22, 22, 0.7)

    .cancel-btn
      border-radius 50%
      position absolute
      top -60px
      right -80px
      width 40px
      height 40px
      box-sizing border-box
      border 2px solid rgba(255, 255, 255, .2)
      background none
    
      &:hover
        border-color rgba(255, 255, 255, .45)

        .icon
          color rgba(255, 255, 255, .45)

      .icon
        display block
        line-height 36px
        color rgba(255, 255, 255, .45)

  .summary
    width max-content // 550px
    height 130px
    padding 25px
    border-radius 5px
    // background rgba(255, 255, 255, .1)
    transition ease-in-out .3s
    position absolute
    top 30%
    left 50%
    transform translate(-50%, -50%)
    display flex
    align-items center

    .stats
      display inline-block
      margin-left 50px

      .stat
        display inline-block
        margin 0 20px
        text-align center

        .number
          display block
          font-weight bold
          font-size 16px

        .label
          display block
          font-size 15px

    .picture
      display inline-block
      width 100px
      height 100px
      border-radius 50%
      /* margin-right 20px
      margin-bottom 30px */
      margin 15px
      margin-right 25px
      // background-color $text-dark-color
      // opacity .4
      vertical-align middle
      background rgba(255, 255, 255, .3)

    .side-info
      display inline-block
      width max-content
      height 70px // 55px
      vertical-align middle

      .username
        width max-content
        color $text-highlight-color
        display block
        // margin-bottom 10px
        font-size 27px // 20px
        font-weight bold

        .nick
          width max-content
          color $text-highlight-color
          display inline-block
          margin-bottom 10px
          font-size 27px // 20px
          font-weight bold

        .tag
          width max-content
          color rgba(255, 255, 255, .3)
          display inline-block
          margin-bottom 10px
          font-size 20px // 20px

      .email
        color #c1c1c1
        width max-content
        display block
        font-size 16px

  .buttons
    position absolute
    width 600px
    top 45%
    height 44px

    .edit-btn
      position absolute
      right 0

    .sign-out-btn
      border 2px solid rgba(255, 22, 22, 0.4)

      .label
        color rgba(255, 22, 22, 0.8)

      &:hover
        border-color rgba(255, 22, 22, 0.7)

     /*  width 150px
      height 70px // 120px
      margin-left 140px
      display inline-block
      vertical-align middle
      margin-bottom 20px

      .btn
        width 150px
        height 40px
        box-sizing border-box
        border 2px solid rgba(255, 255, 255, .2)
        background none
        margin-top 20px

        &:hover
          border-color rgba(255, 255, 255, .45)

        .label
          display block
          line-height 40px

      .sign-out-btn
        border 2px solid rgba(255, 22, 22, 0.4)

        .label
          color rgba(255, 22, 22, 0.8)

        &:hover
          border-color rgba(255, 22, 22, 0.7) */

    /* .btn
      position absolute
      bottom 25px
      right 25px
      background none
      border none
      text-transform uppercase
      font-weight bold
      width max-content
      height max-content
      line-height inherit

    .edit-btn
      bottom 60px

    .details-btn
      bottom 95px

  .edit-btn, .sign-out-btn
    background none
    border none
    text-transform uppercase
    font-weight bold
    width max-content
    height max-content
    line-height inherit

  .sign-out-btn .label
    color red */

        